{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <div>
        {{> title data="Facebook" big=true}}
    </div>
    <br>
    <hr>
    <section>
        <div><strong>Name: </strong>{{name}}</div>

        <div><strong>Users: </strong>{{#each users}}</div>
        <ul>
            <li>
                <div><b>Id: </b>{{id}}</div>
                <div><b>Name: </b>{{name}}</div>
                <div><b>Gender: </b>{{gender}}</div>
                <div><b>Age: </b>{{age}}</div>

                <div><b>Friends: </b>{{#each friends}}</div>
                <ul>
                    <li>
                        <div><b>Id: </b>{{id}}</div>
                        <div><b>Name: </b>{{name}}</div>
                        <div><b>Gender: </b>{{gender}}</div>
                        <div><b>Age: </b>{{age}}</div>

                        <div><b>Mutual friends: </b>{{#each mutual_friends}}</div>
                        <ul>
                            <li>
                                <div><b>Id: </b>{{id}}</div>
                                <div><b>Name: </b>{{name}}</div>
                                <div><b>Gender: </b>{{gender}}</div>
                                <div><b>Age: </b>{{age}}</div>
                                {{#if mutual_friends}}
                                <div><b>Mutual friends: </b>{{#each mutual_friends}}</div>
                                <ul>
                                    <li>
                                        <div><b>Id: </b>{{id}}</div>
                                        <div><b>Name: </b>{{name}}</div>
                                        <div><b>Gender: </b>{{gender}}</div>
                                        <div><b>Age: </b>{{age}}</div>
                                    </li>
                                </ul>
                                {{/each}}
                                {{/if}}
                            </li>
                        </ul>
                        {{/each}}
                        {{#if groups}}
                        <div><b>Groups: </b>{{#each groups}}</div>
                        <ul>
                            <li>
                                <div><b>Id: </b>{{id}}</div>
                                <div><b>Name: </b>{{name}}</div>
                                <div><b>Description: </b>{{description}}</div>
                                <div><b>Members: </b>{{#each members}}</div>
                                <ul>
                                    <li>
                                        <div><b>Id: </b>{{id}}</div>
                                        <div><b>Name: </b>{{name}}</div>
                                        <div><b>Gender: </b>{{gender}}</div>
                                        <div><b>Age: </b>{{age}}</div>
                                    </li>
                                </ul>
                                {{/each}}
                            </li>
                        </ul>
                        {{/each}}
                        {{/if}}

                    </li>
                </ul>
                {{/each}}
                <br>
                <hr>
                {{#if groups}}
                <div><strong>Groups: </strong>{{#each groups}}</div>
                <ul>
                    <li>
                        <div><b>Id: </b>{{id}}</div>
                        <div><b>Name: </b>{{name}}</div>
                        <div><b>Description: </b>{{description}}</div>
                        <div><b>Members: </b>{{#each members}}</div>
                        <ul>
                            <li>
                                <div><b>Id: </b>{{id}}</div>
                                <div><b>Name: </b>{{name}}</div>
                                <div><b>Gender: </b>{{gender}}</div>
                                <div><b>Age: </b>{{age}}</div>
                            </li>
                        </ul>
                        {{/each}}
                    </li>
                </ul>
                {{/each}}
                {{/if}}
            </li>
        </ul>
        {{/each}}
    </section>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}