{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>

    <div>
        {{> title data="task 21" big=true}}
    </div>
    <div class="card">
        <div class="card-body">
            <section>
                <div class="card">
                    <div card="card-body">
                        <ul>
                            <h1 class="text-capitalize">
                                Heading: {{#with heading}}
                            </h1>
                            <br>

                            <div class="lowercase">
                                main: {{#with main}}
                                <ul>
                                    <li>
                                        <div>title: {{title}}</div>
                                        <br>
                                        <div>text: {{text}}</div>
                                        <br>
                                        <button class="btn btn-primary">
                                            <div>{{button_text.solid}}</div>
                                        </button>
                                        <br>
                                        <br>
                                        <br>
                                        <button class="btn btn-outline-primary">
                                            {{button_text.outline}}
                                        </button>
                                    </li>
                                </ul>
                                {{/with}}
                            </div>
                            <br>
                            <br>
                            <br>
                            <h2 class="text-uppercase">
                                Second: {{#with second}}
                            </h2>
                            <ul>
                                <li>
                                    <div>title: {{title}}</div>
                                    <br>
                                    <div>text: {{text}}</div>
                                    <br>
                                    <button class="btn btn-secondary">
                                        {{button_text.solid}}
                                    </button>
                                    <br>
                                    <br>
                                    <br>
                                    <button class="btn btn-outline-secondary">
                                        {{button_text.outline}}
                                    </button>
                                </li>
                            </ul>
                            {{/with}}




                            <br>
                            <br>
                            <br>
                            <h3 class="text-lowercase">
                                Sabblock: {{#with subblock}}
                            </h3>
                            <br>
                            <ul>
                                <li>
                                    <div>title: {{title}}</div>
                                    <br>
                                    <div>text: {{text}}</div>
                                    <br>
                                    <button class="btn btn-dark">
                                        {{button_text.solid}}
                                    </button>
                                    <br>
                                    <br>
                                    <br>
                                    <button class="btn btn-outline-dark">
                                        {{button_text.outline}}
                                    </button>
                                </li>
                            </ul>
                            {{/with}}

                            {{/with}}

                        </ul>
                    </div>
                </div>
            </section>
            <br>
            <br>
            <br>
            <section>
                <div class="card">
                    <div class="card-body">
                        <ul>
                            <div class="display-1">
                                Nested display
                            </div>
                            {{#with nested_display}}
                            <div>Title: {{title}}</div>
                            <br>
                            <div class="display-4">children display: {{#with children_display}}</div>
                            <ul>
                                <li>
                                    <div>Title: {{title}}</div>
                                    <div>Text: {{text}}</div>
                                    <br>
                                    <button class="btn btn-warning">
                                        {{button.text}}
                                    </button>
                                </li>
                            </ul>
                            {{/with}}
                            <br>
                            <br>
                            <h6>{{header_text}}</h6>
                            <br>
                            <button class="btn btn-info">
                                {{button.text}}
                            </button>
                            {{/with}}
                        </ul>
                    </div>
                </div>
            </section>
            <br>
            <br>
            <br>
            <section>
                <div class="card">
                    <div class="card-body">
                        <ul>
                            <div class="text-uppercase">
                                <span>Paragraph: {{#with paragraph}}</span>
                            </div>
                            <div>titli: {{title}}</div>
                            <div>text: {{text}}</div>
                            <br>
                            <br>


                            <a class="btn btn-info" href="{{button.url}}" target="blank"
                                role="button">{{button.text}}</a>

                            <br>
                            <br>
                            <br>
                            <div class="text-info">
                                <ul>
                                    {{#each list_name}}
                                    <li>

                                        <a class="text-info" href="{{url}}" target="blank">{{text}}</a>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                            {{/with}}
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>